@font-face {
  font-family: "iconfont"; /* Project id 2017068 */
  src: url('iconfont.woff2?t=1620722038111') format('woff2'),
       url('iconfont.woff?t=1620722038111') format('woff'),
       url('iconfont.ttf?t=1620722038111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi01:before {
  content: "\e64b";
}

.icon-shezhi:before {
  content: "\e696";
}

.icon-taobaowang:before {
  content: "\e606";
}

.icon-zhaoxiangji:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-aixin:before {
  content: "\e635";
}

.icon-xiaolian:before {
  content: "\e75a";
}

.icon-dianhuabu:before {
  content: "\e60a";
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-caipiao:before {
  content: "\e613";
}

.icon-jiudian:before {
  content: "\e614";
}

.icon-dianying:before {
  content: "\e62e";
}

.icon-huaban:before {
  content: "\e60e";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e622";
}

.icon-licai:before {
  content: "\e612";
}

.icon-chexian:before {
  content: "\e615";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-wangguan:before {
  content: "\e6ed";
}

.icon-jinbi:before {
  content: "\e617";
}

.icon-tianmaotmall:before {
  content: "\e7c5";
}

.icon-tianmao:before {
  content: "\e638";
}

.icon-youjiantou:before {
  content: "\e75e";
}

.icon-liebiao:before {
  content: "\e60c";
}

.icon-shoucangjia:before {
  content: "\e601";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-jiantou9:before {
  content: "\e60b";
}

