#nav {
  //min-width: 200px;
  height: 100%;
  min-height: 100%;
  border-right: 1px solid #e2e8f0;

  .app-name {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    color: #000;
    text-align: center;
  }

  .tag-info {
    box-sizing: border-box;
    padding: 0 12px;
  }

  .el-menu {
    border-right: none;
  }

  .el-menu-item,
  .el-submenu__title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;
    //padding: 0 12px !important;
    border-radius: 4px;

    .el-tooltip {
      display: flex !important;
      align-items: center;
    }
  }

  .submenu_circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 12px;
    margin-left: 20px;
    border: 1px solid #94a3b8;
    border-radius: 3px;
  }

  .submenu_name {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }

  .first_submenu,
  .second_submenu {
    margin: 2px 0;
  }

  .first_submenu i {
    color: #94a3b8;
  }

  .menuicon {
    margin-right: 14px;
    font-size: 24px;
  }

  .el-menu-item:hover,
  .el-submenu__title:hover {
    background-color: #eff5ff !important;
  }

  .first_submenu.active {
    & > .el-submenu__title {
      color: #3b82f6 !important;
    }

    .el-submenu__title i {
      color: #3b82f6;
    }

    .menuicon {
      color: #3b82f6;
    }
  }

  .el-menu-item.second_submenu.active {
    color: #fff !important;
    background-color: #3b82f6 !important;
  }

  .second_submenu.active {
    .submenu_circle {
      background-color: #fff;
      border: 1px solid #fff;
    }
  }

  .first_submenu.active.el-menu-item {
    color: #fff !important;
    background-color: #3b82f6 !important;

    .menuicon {
      color: #fff;
    }
  }
}
